.note-info_wrapper {
  padding: 40px 20px;
  animation: animateNoteInfo 1s;

  @keyframes animatedNoteInfo {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .note-info_content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    img {
      width: 28rem;
      height: 42rem;
    }

    @media screen and (max-width: 768px) {
      display: block;
      max-height: none;
      img {
        text-align: center;
        width: 20rem;
        height: 30rem;
      }
    }
  }

  .note-info_text {
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    overflow: hidden;

    .rating-directors {
      display: flex;
      justify-content: flex-start;
    }

    .score {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background: #fff;
      color: #000;
      font-weight: 800;
      border-radius: 50%;
      margin: 0;
    }

    .director {
      margin: 0 0 0 40px;

      p {
        margin: 0;
      }
    }

    h1 {
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
    .note-info_name {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .note-info_delete:hover {
      color: rgb(155, 62, 62) !important;
    }
    .note-info_edit:hover {
      color: gray !important;
    }
  }
}
